body {

    background-color: #454545;
}


.header {

  height: 220px;
  width: 100%;
  background-color: #0B0909;

}
.botones{
  margin-top: -111px;
  display: inline-block;
  margin-left: 1900px;
  margin-bottom: 61px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B0909;
    color: white;
    text-align: center;
  
  }

  .deliveryMain{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
  }

  .boton {
    float:right;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    font-size: large;
    height: 45px;
    top: 0%;
    color: #FFFFFF;
    background-color: #370101;
    

  }

a {
  text-decoration: none;
  color: #FFFFFf;
}
  .comingSoon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 921px;
    height: 540px;
    margin: auto;



  }
  .pedidosLogo {
    
    width: 225px;
    height: 225px;

   
  }

  .buttonMain{
    padding: 0%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    
   }


   p{

    font-family: 'Roboto', sans-serif;
   }

   h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
   }

   #footer {
     color: #FFFFFF;
   }
