body {

    background-color: #454545;
}


.header {

  height: 220px;
  width: 100%;
  background-color: #0B0909;

}

.botones{
  margin-top: -111px;
  display: inline-block;
  margin-left: 1900px;
  margin-bottom: 61px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B0909;
    color: white;
    text-align: center;
  
  }

  .boton {
    float:right;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    width: 100px;
    font-size:medium;
    height: 45px;
    top: 0%;
    color: #FFFFFF;
    background-color: #370101;

  }

  a {
    text-decoration: none;
    color: #FFFFFf;
  }

  .buttonMain{
    padding: 0%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    
    
   }

   h1{
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 50px;
     color: #9999;
   }
    .sucursales{
      margin-top: 133px;
      display: flex;
      align-items:center;
      justify-content:center;


    }
   .suc {
    
    width: 500px;
    height: 350px;
    padding: 18px;

   }

   .belgrano{
  display: flex;
  flex-direction:column;
  align-items: center;
  


   }

   .recoleta{
    display: flex;
    flex-direction:column;
    align-items: center;
    
  
     }

   .buttonLocation {
    display: fixed;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: large;
    background-color: #370101;
    border: none;
    cursor:pointer;
    
   }

   .buttonMain{
    padding: 0%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    
   }


   p{

    font-family: 'Roboto', sans-serif;
   }

